In [52]:
a = "She is going to set the table"
b = "Are you not going to arrive there"
c = "I am going to add salt"
d = "He is going to ask for water"
e = "We are going to allow this"
f = "You are going to achieve that goal"
g = "They are going to arrive in Rome"
h  = "The ladies are going to arrive soon"
i = "I am not going to ask again"
j = "We are not going to allow this"
k = "I am going to add sugar"
l = "She is going to achieve her goal"
m = "What are you going to add"
n = "You are never to achieve this"
o = "We are going to allow this"

In [53]:
frases = set([a,b,c,d,e,f,g,h,i,j,k,l,m,n,o])

In [54]:
frases

{'Are you not going to arrive there',
 'He is going to ask for water',
 'I am going to add salt',
 'I am going to add sugar',
 'I am not going to ask again',
 'She is going to achieve her goal',
 'She is going to set the table',
 'The ladies are going to arrive soon',
 'They are going to arrive in Rome',
 'We are going to allow this',
 'We are not going to allow this',
 'What are you going to add',
 'You are going to achieve that goal',
 'You are never to achieve this'}

In [55]:
lista_palavras = []

In [56]:
for frase in frases:
    palavras = frase.split(' ')
    for palavra in palavras:
        lista_palavras.append(palavra)

In [57]:
print(set(lista_palavras))

{'You', 'to', 'The', 'there', 'that', 'water', 'in', 'am', 'What', 'Rome', 'again', 'going', 'table', 'ladies', 'sugar', 'not', 'Are', 'this', 'her', 'you', 'arrive', 'We', 'never', 'is', 'He', 'I', 'add', 'salt', 'allow', 'for', 'soon', 'set', 'goal', 'They', 'ask', 'She', 'the', 'are', 'achieve'}

In [58]:
palavras_to_int = [a for a in enumerate(set(lista_palavras))]

In [59]:
palavras_to_int

[(0, 'You'),
 (1, 'to'),
 (2, 'The'),
 (3, 'there'),
 (4, 'that'),
 (5, 'water'),
 (6, 'in'),
 (7, 'am'),
 (8, 'What'),
 (9, 'Rome'),
 (10, 'again'),
 (11, 'going'),
 (12, 'table'),
 (13, 'ladies'),
 (14, 'sugar'),
 (15, 'not'),
 (16, 'Are'),
 (17, 'this'),
 (18, 'her'),
 (19, 'you'),
 (20, 'arrive'),
 (21, 'We'),
 (22, 'never'),
 (23, 'is'),
 (24, 'He'),
 (25, 'I'),
 (26, 'add'),
 (27, 'salt'),
 (28, 'allow'),
 (29, 'for'),
 (30, 'soon'),
 (31, 'set'),
 (32, 'goal'),
 (33, 'They'),
 (34, 'ask'),
 (35, 'She'),
 (36, 'the'),
 (37, 'are'),
 (38, 'achieve')]