[View in Colaboratory](https://colab.research.google.com/github/eurismarpires/DeepLearning/blob/master/traducao.ipynb)

In [1]:
!wget http://www.manythings.org/anki/por-eng.zip

--2018-05-03 00:53:25--  http://www.manythings.org/anki/por-eng.zip
Resolving www.manythings.org (www.manythings.org)... 104.24.108.196, 104.24.109.196, 2400:cb00:2048:1::6818:6cc4, ...
Connecting to www.manythings.org (www.manythings.org)|104.24.108.196|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2372218 (2.3M) [application/zip]
Saving to: ‘por-eng.zip’

por-eng.zip         100%[===================>]   2.26M  2.74MB/s    in 0.8s

2018-05-03 00:53:26 (2.74 MB/s) - ‘por-eng.zip’ saved [2372218/2372218]

In [2]:
!ls

datalab  por-eng.zip

In [3]:
!unzip por-eng.zip

Archive:  por-eng.zip
  inflating: _about.txt
  inflating: por.txt

In [4]:
!ls

_about.txt  datalab  por-eng.zip  por.txt

In [0]:
import pandas as pd

In [0]:
filename = "por.txt"
raw_text = open(filename).read()

In [0]:
text = raw_text.split('\n')

In [0]:
pt = []
en = []
idt = []

In [17]:
for i,linha in enumerate(text):
    a = linha.split('\t')
    try:
        b = a[0]
        c = a[1] 
        if a != '' and b != '':
            idt.append(i)
            en.append(b)
            pt.append(c)
    except:
        print(i,a)

120958 ['']

In [0]:
data = {'id':idt,'portugues':pt,'ingles':en}

In [0]:
df = pd.DataFrame(data)

In [20]:
df.head()

   id ingles portugues
0   0    Go.      Vai.
1   1    Go.       Vá.
2   2    Hi.       Oi.
3   3   Run!    Corre!
4   4   Run!    Corra!

In [21]:
df.tail()

,id,ingles,portugues
120953,120953,"The Tatoeba Project, which can be found online...","O Projeto Tatoeba, que se pode encontrar on-li..."
120954,120954,No matter how much you try to convince people ...,Não importa o quanto você tenta convencer os o...
120955,120955,Some movies make such an impact that one never...,Alguns filmes são tão marcantes que jamais nos...
120956,120956,A child who is a native speaker usually knows ...,Uma criança que é falante nativa geralmente sa...
120957,120957,We recommend adding sentences and translations...,Recomendamos acrescentar frases e traduções na...

In [0]:
csv = df[['ingles', 'portugues']]

In [23]:
csv.head()

  ingles portugues
0    Go.      Vai.
1    Go.       Vá.
2    Hi.       Oi.
3   Run!    Corre!
4   Run!    Corra!

In [0]:
csv.to_csv('traducao.csv',index=False)

In [25]:
!ls

_about.txt  datalab  por-eng.zip  por.txt  traducao.csv